@{
    ViewData["Title"] = "C#.net back end developer";
}
<div class="text-center">
    <h1 class="display-1">.net back end developer</h1>
</div>
<div class="text-left">
        <h2 class="text-center">My strengths are to be</h2>
            <ul>
                <li><strong>organized</strong></li>
                <li><strong>thorough</strong> in the unit test development</li>
                <li>a <strong>persistent</strong> .net developer</li>
            </ul>
        <h2 class="text-center">My skills</h2>
            <ul>
                <li>Azure DevOps Boards and Pipelines, Jira</li>
                <li>TestDrivenDevelopment</li>
                <li><strong>C#</strong>, T-SQL, HTML, CSS, JS</li>
                <li>git</li>
                <li>SQL Server 2016</li>
                <li>Grafana, PowerBI</li>
            </ul>
        <h2 class="text-center">My career objective</h2>
            <p>
                I keep up improving my 
                <ol>
                    <li><strong>cloud</strong></li>
                    <li><strong>dev ops</strong></li>
                    <li><strong>front end</strong></li>
                </ol>
                skills for end-user ergonomy to become a senior developer able to lead. 
                <strong>Pragmatic</strong>, I focus on Application Programming Interfaces and unit test including security as soon in the agile development cycle as possible.
            </p>
</div>
<div class="text-left">
    <h2 class="text-center">work experience</h2>
        <h3 class="text-center"><strong>C#</strong> developer</h3>
            <h4 class="text-center">elm.leblanc</h4>
            <h4 class="text-center"><i>January 2020 until February 2023</i></h4>
            <h4>Drancy</h4>
                <h5>
                    The Manufacturing Analytics Solution (MAS1.0) was an application that gathered production line <strong>data</strong> from 14 ThermoTechnology plants databases into a single <strong>SQL Server database</strong> to report on production quality.
                </h5>
                I chronologically:
                <ul>
                    <li>maintained the</li>
                    <ul>
                        <li>.Net data loading application</li>
                        <ol>
                            <li>added MSTest <strong>unit tests</strong> to the app</li>
                            <li>added product description informations to MAS1.0 product ids as first step before connecting to SAP</li>
                            <li>added a SQL Server 2016 DB to the deployment environment</li>
                            <li>upgraded the .Net 4.6.1 and 4.7.2 app to <strong>.net 5</strong>,</li>
                        </ol>
                        <li>traceability API</li>
                        <li>Tableau dashboards</li>
                        <li>Continuous Improvement Projects website with minor visual rectification</li>
                    </ul>
                    <li>added <strong>Grafana</strong> dashboards querying the MAS 2.0 <strong>GraphQL API</strong></li>
                    <li>updated <strong>PowerBI</strong> dashboards</li>
                </ul>
                <p>
                    <strong>Technical environment</strong>
                    <ul>
                        <li><strong>C#</strong></li> 
                        <li><strong>dotnet 5</strong></li> 
                        <li>T-SQL</li> 
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JS</li>
                        <li>GraphQL</li>
                        <li>Power Query M</li>
                        <li>SQL Server 2016</li>
                        <li>PowerBI</li>
                        <li>Grafana</li>
                        <li>Jira</li>
                        <li>VisualStudioCode</li>
                        <li>tortoiseSVN</li>
                    </ul>
                </p>
</div>
<div class="text-left">
    <h3 class="text-center"><strong>C#</strong> developer</h3>
        <h4 class="text-center">Expaceo</h4>
        <h4 class="text-center"><i>April 2019 until August 2019</i></h4>
        <h4>Saint-Cloud</h4>
            <h5>
                ProofOfConcept: a customer of Expaceo had an additional need to redevelop an e-mail attachments extraction and backup for analysis app. 
            </h5>
            I : 
            <ul>
                <li>developed from scratch the app</li>
                <li>logged in files and MongoDB</li>
                <li>weighed the need for this app of</li>
                <ul>
                    <li>NUnit or xUnit tests</li>
                    <li>Entity Framework core</li>
                </ul>
            </ul>
            <p>
                <strong>Technical environment</strong>
                    <li><strong>C#</strong></li>
                    <li>dotnet core 3.1</li>
                    <li>Azure DevOps Boards and Repos</li> 
                    <li>Gmail and Outlook API's</li>
                    <li>VisualStudioCode</li>
            </p>
</div>
<div class="text-left">
    <h3 class="text-center"><strong>ASP.Net MVC</strong> developer</h3>
        <h4 class="text-center">Bolloré Transport & Logistics by Expaceo unitary technical assistance</h4>
        <h4 class="text-center"><i>October 2018 until April 2019</i></h4>
        <h4>Puteaux</h4>
            <h5>
                The Decision Management Platform is a web application used to choose the best transport freight.
            </h5>
            I : 
            <ul>
                <li>updated unit tests and improved their coverage</li>
                <li>solved bugs</li>
                <li>added an information on the air benchmark page</li>
            </ul>
            <p>
                <strong>Technical environment</strong>
                <ul>
                    <li>C#</li> 
                    <li>ASP.Net MVC5</li>
                    <li>.Net 4.6.1 and 4.7.2</li>
                    <li>T-SQL</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JS</li>
                    <li>SQL Server 2016</li>
                    <li>Azure DevOps Boards, Repos and pull requests</li>
                    <li>VisualStudio 2017</li>
                </ul>
            </p>
</div>
<div class="text-left">
    <h3>trainee <strong>ASP.Net MVC</strong> developer</h3>
        <h4 class="text-center">Expaceo</h4>
        <h4 class="text-center"><i>June 2018 until August 2018</i></h4>
        <h4 class="text-center">Meudon</h4>
            <h5>
                Clerks Manager is an Expaceo Web HR application for timesheets, vacations and news.
            </h5>
            I : 
            <ul>
                <li>migrated the Clerks web news page to Vue.js</li>
                <li>added a Clerks web per employee vacations display page</li>
                <li>corrected bugs and redeployed in beta version the Xamarin Clerks mobile app on the Google Play Store</li>
            </ul>
            <section>
                <strong>Technical environment</strong>
                    <p>Clerks web</p>
                    <p>
                        <strong>
                        C#,
                        ASP.Net MVC5,
                        .Net 4.6.1 and 4.7.2,
                        T-SQL,
                        HTML,
                        CSS,
                        VueJS 2.5
                        </strong>, 
                        Vuex 3,
                        Bootstrap 2,
                        WebPack 4.16,
                        git 2.18,
                        VisualStudio and VisualStudioCode
                    </p>
                    <p>Clerks mobile</p>
                    <p>
                        Xamarin 4.7, Xamarin Forms 3, Android SDK 8
                    </p>
            </section>
</div>
<div class="text-left">
    <h3>Software tester</h3>
        <h4 class="text-center">Teamnet</h4>
        <h4 class="text-center"><i>July 2017 until September 2017</i></h4>
        <h4>Paris 10</h4>
            <h5>
                Axel is a children school and after-school check-in, attendance and billing software.
            </h5>
            I tested:
            <ul>
                <li>Axel 3.13.0 check-in</li>
                <li>specific model editions</li>
                <li>Axelnet 3.5.2p9</li>
                <li>Axel family portal 5.6.0 and 5.6.1</li>
            </ul>
            <p>
                <strong>Technical environment</strong>
                <ul>
                    <li>Oracle database 11g</li>
                    <li>Excel</li>
                    <li>Axel, Axelnet, Axel family portal</li>
                </ul> 
            </p>
</div>
<div class="text-left">
    <h3>Technical support coordinator</h3>
        <h4 class="text-center">Aldi</h4>
        <h4 class="text-center"><i>May 2016 until May 2017</i></h4>
        <h4>Dammartin-en-Goële and Villepinte</h4>
            <h5>
                IT support to french Aldi supermarkets
            </h5>
            I:
            <ul>
                <li>trained supermarkets to the new checkout machines</li>
                <li>helped the supermarkets to improve their checkout backup cellular phone network reception:</li>
                <ol>
                    <li>daily monitored the reception</li>
                    <li>made periodical sum-up reports. 
                    The main indicator was the number of supermarkets with too slow reception.
                    It decreased from 285 to 100 wherever possible.</li>
                </ol>
            </ul>
            <p>
                <strong>Technical environment</strong>
                <ul>
                    <li>Windows 7 and Server 2012</li>
                    <li>SuSE Enterprise linux</li>
                    <li>VMWare vCenter</li>
                    <li>bash script</li>
                    <li>Excel</li>
                    <li>Verifone checkout</li>
               </ul>
            </p>
</div>
<div class="text-left">
    <h3>SQL developer</h3>
        <h4 class="text-center">Orange by Alten unitary technical assistance</h4>
        <h4 class="text-center"><i>September 2015 until December 2015</i></h4>
        <h4>Guyancourt</h4>
            <h5>
                The triple play commercial referential is updated to follow regulatory and technical guidelines.
            </h5>
            I developed, tested and deployed 3 data updates. 
            For example throughput increase from ADSL to VDSL or alignment with commercial and technical referentials.
            <p>
                <strong>Technical environment</strong>
                    <ul>
                        <li>Oracle 10g database</li>
                        <li>SQL</li>
                   </ul>
            </p>
</div>
<div class="text-left">
    <h3>PL/SQL developer</h3>
        <h4 class="text-center">SFR by Alten grouped technical assistance</h4>
        <h4 class="text-center"><i>February 2014 until September 2015</i></h4>
        <h4>Nanterre</h4>
            <h5>
                Hispeed is the mainstream and small businesses landline telecommunications network referential.
            </h5>
            I developed and tested 5 projects:
            <ul>
                <li>new equipments for example network and TV boxes</li>
                <li>new commercial offers</li>
            </ul>
            <p>
                <strong>Technical environment</strong>
                    <ul>
                        <li>Oracle 10g PL/SQL</li>
                        <li>SVN</li>
                   </ul>
            </p>
</div>
<div class="text-left">
    <h3>PL/SQL developer</h3>
        <h4 class="text-center">STIME Les Mousquetaires</h4>
        <h4 class="text-center"><i>July 2013 until September 2013</i></h4>
        <h4>Montrouge</h4>
            <h5 class="text-center">
                The BI system for sales and stocks is developed by a team made of a technical expert, a consultant and a PL/SQL developer along with the functional expert and 5 J2EE developers.
            </h5>
            I:
            <ul>
                <li>participated to the technical analysis before integration of new hypermarkets to the system</li>
                <li>maintained the batch jobs during summer holidays</li>
            </ul>
            <p>
                <strong>Technical environment</strong>
                <ul>
                    <li>Oracle 10g PL/SQL</li>
                    <li>bash script</li>
               </ul>
            </p>
</div>
<div class="text-left">
    <h3><strong>BI</strong> tester</h3>
        <h4 class="text-center">SFR by Capgemini package project</h4>
        <h4 class="text-center"><i>November 2011 until February 2012</i></h4>
        <h4>Suresnes</h4>
            <h5>
                Etape 4 is a project of SFR's professional customer's data migration.
            </h5>
            I tested the Capgemini internal Flood data management migration report tool.
            <p>
                <strong>Technical environment</strong>
                    <ul>
                        <li>HP Quality Center</li>
                        <li>Informatica Power Center 8</li>
                        <li>bash script</li>
                   </ul>
            </p>
</div>
<div class="text-left">
    <h3><strong>PL/SQL BI</strong> developer</h3>
        <h4 class="text-center">Darty by Capgemini grouped technical assistance</h4>
        <h4 class="text-center"><i>January 2011 until September 2011</i></h4>
        <h4>Bagnolet</h4>
            <h5>
                The outsourced website maintenance includes data extractions for the sales department.
            </h5>
            I:
            <ul>
                <li>analysed and eventually corrected bugs</li>
                <li>proposed a performance optimisation</li>
                <li>technically specified, developed, tested, deployed and maintained a new product data extraction</li>
            </ul>
            <p>
                <strong>Technical environment</strong>
                <ul>
                    <li><strong>Oracle 10g PL/SQL</strong></li>
                    <li>Toad</li>
                    <li>SVN</li>
                    <li>bash script</li>
            </p>
</div>
<div class="text-left">
    <h3>Technical support consultant</h3>
        <h4 class="text-center">Orange Business Services by Capgemini grouped technical assistance</h4>
        <h4 class="text-center"><i>October 2009 until July 2010</i></h4>
        <h4>Paris 19</h4>
            <h5>
                Second level support to Genesys CTI users
            </h5>
            I:
            <ul>
                <li>cleared phone calls rooting user's questions</li>
                <li>solved Hyperion reports issues</li>
            </ul>
            <p>
                <strong>Technical environment</strong>
                <ul>
                    <li>Genesys CIM platform 7.6</li>
                    <li>AIX servers</li>
                    <li>bourne shell</li>
                    <li>Hyperion reports</li>
            </p>
</div>
<div class="text-left">
    <h3>Software tester</h3>
        <h4 class="text-center">Orange by Capgemini grouped technical assistance</h4>
        <h4 class="text-center"><i>October 2008 until September 2009</i></h4>
        <h4>Guyancourt</h4>
            <h5>
                Orange shops checkout software
            </h5>
            <p>
                I:
            </p>
            <ul>
                <li>tested 3 major Winstore releases</li>
                <li>deployed them in production</li>
            </ul>
            <p>
                <strong>Technical skill</strong>: see below with non-regression testing
            </p>
    <h3>Technical support consultant</h3>
        <h4 class="text-center">Orange by Capgemini grouped technical assistance</h4>
        <h4><i>January 2008 until September 2008</i></h4>
        <h4>Guyancourt</h4>
            <h5>
                Orange shops checkout and stock system user's assistance
            </h5>
            <p>
                I helped users who had day checkout closure difficulties.
            </p>
            <p>
                <strong>Technical environment</strong>
                <ul>
                    <li>Oracle database 10g</li>
                    <li>bash</li>
                    <li>Cylande Winstore</li>
                    <li>Ingenico electronic payment terminal</li>
            </p>
</div>
<div class="text-left">
    <h3><strong>BI</strong> tester</h3>
        <h4 class="text-center">SFR by Capgemini package project</h4>
        <h4 class="text-center"><i>October 2007 until January 2008</i></h4>
        <h4>La Défense</h4>
            <h5>Outsourced customers datawarehouse</h5> 
            <p>
                I continued the insertion scripts testing and the team did a factory acceptance test.
           </p>
</div>
<div class="text-left">
    <h3>trainee <strong>BI</strong> tester</h3>
        <h4 class="text-center">SFR by Capgemini package project</h4>
        <h4 class="text-center"><i>June 2007 until September 2007</i></h4>
        <h4>La Défense</h4>
            <h5>
                Outsourced customers datawarehouse. I:
            </h5>
            <p>
                I:
            </p>
            <ol>
                <li>tested BTEQ insertion scripts</li>
                <li>proposed scripts corrections</li>
            </ol>
            <p>
                <strong>Technical environment</strong>
                <ul>
                    <li>Teradata BTEQ</li>
                    <li>Datastage</li>
                    <li>Business Objects</li>
                    <li>korn shell</li>
                </ul>
            </p>
</div>
<div class="text-left">
    <h3 class="text-center">coding algorithmic katas</h3>
        <h4 class="text-center">CodinGame</h4>
            <h5>current level</h5>
                <h6>>4, 106 xp algorithmic learning path</h6>
                    puzzles solved:
                        easy: 3 in C#
                            onboarding, temperatures, the descent
                    puzzles to solve:
                        medium: 2 in JavaScript
                    clash:
                        best: 2/5 in 15 minutes / 15
        <h4 class="text-center">codewars</h4>
            <h5>highest and only trained</h5>JavaScript(8kyu)
                <h6>5 puzzles done</h6>
                    Reversed Strings,
                    Up and down, the string grows,
                    Get Planet Name By ID,
                    What is between?
                    String ends with?
    <h3 class="text-center">open source</h3>
        <h4 class="text-center">own project to apply more best practices to</h4>
            hash check .net application
        <h4 class="text-center">used projects to contribute to</h4>
            <ul>
                <li>React bricks</li>
                <li>Bun</li>
                <li>VisualStudioCode</li>
                <li>alternative hash check project</li>
                   Search for it to
                    <ol>
                        <li>first quick check utility</li>
                        <li>compare features and performances</li>
                    </ol>
            </ul>
    <h3 class="text-center">multichoice questions and answers</h3>
        <h4 class="text-center">
            EditX challenges
        </h4>
            <h5>Meilleur.e étudiant.e en informatique de France 2023</h5>
                <h6>11/9/23 until 11/11/23</h6>
                    60%: 20 questions were answered in less than 15 minutes.
        <h4 class="text-center">
            Succeeded LinkedIn top 30% skills spring check 
        </h4>
            <ul>
                <li>C#</li>
                <li>.net framework</li>
                <li>méthodes agiles</li>
                <li>Microsoft PowerBI</li>
            </ul>
        <h4 class="text-center">
            LinkedIn top 30% skills spring check to improve
        </h4>
        Prepared with Sololearn the next one will be with
        <ul>
            <li>CodinGame</li>
            <li>codewars</li>
            <li>CSS Diner</li>
            <li>CSS Battle</li>
            <li>Flexbox Froggy and defense</li>
            <li>Grid Garden</li>
            <li>Toxicode</li>
            <li>Minecraft Hour of Code</li>
            <li>Code combat</li>
        </ul>
            <h5>T-SQL top 59%</h5>
                <h6>To improve, upcoming as soon as possible</h6>
                    <ul>
                        <li>JavaScript</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>git</li>
                        <li>bash</li>
                        <li>python</li>
                    </ul>
    <h3 class="text-center">certifications</h3>
        <h4 class="text-center">methodological</h4>
            <h5>Scrum professionnal developer</h5>
                <h6>planned: earliest end of the year</h6>
        <h4 class="text-center">technical</h4>
            <h5>Azure Fundamentals</h5>
                <h6>March 2023</h6>790
            <h5>MS 70-483 Programming in C#</h5>
                <h6>July 2019</h6>700
            <h5>CodinGame to schedule</h5>
                <h6>C#</h6>
                <h6>JavaScript</h6>
                <h6>python</h6>
        <h4 class="text-center">communication</h4>
            <h5>TOEIC english listening and reading comprehension</h5>
                <h6>2014</h6>970
                    I improved my english communication in:
                    <ol>
                        <li>June 2007 until January 2008: project with team in Kolkata</li>
                        <li>January 2008 until October 2009: project with team in Bengaluru</li>
                        <li>September 2018 until April 2019: project with team in Ho Chi Minh City</li>
                        <li>January 2020 until February 2023: project with plants in 9 countries</li>
                    </ol>
            <h5>Process Communication Model 1</h5>
                <h6>to plan</h6>
                    The earliest found until now is October until December, without certification.
                    The earliest certifying found is March until April, to budget for.
</div>
<div class="text-left">
    <h3 class="text-center">Training and Education</h3>
        <h4 class="text-center">web development with C# and JavaScript training</h4>
            <h5>Doranco Ecole supérieure des technologies créatives</h5>
            <h5><i>March 2018 until June 2018</i></h5>
            <h5>Paris - Bagnolet</h5>
        <h4 class="text-center">SIAD(Systèmes d'Information et d'Aide à la Décision) master's degree</h4>
            <h5>Université des sciences et technologies</h5>
            <h5><i>2006 - 2007</i></h5>
            <h5>Lille</h5>
</div>
<div class="text-center">
    <h3>Personal details</h3>
        <h4>Eric Faraut</h4>
            <h5>eric.faraut@hotmail.fr</h5>
            <h5>06 75 71 84 34</h5>
</div>
<div class="text-center">
    <p>
        In my spare time I focus on a website and Arduino making for incremental results.
    </p>
</div>