@{
    ViewData["Title"] = ".net back end developer";
}
<div class="text-center">
  <h1 class="display-1">.net back end developer</h1>
</div>
<div class="text-left">
  <h2>Career objective</h2>
  <h3 class="text-center">Since my 2007 SIAD BI master's degree at the Lille university</h3>
  I've done: 
  <ul>
      <li>BI tests</li>
      <li>IT support</li>
      <li>tests</li>
      <li>contact center support</li>
      <li>PL/SQL development</li>
  </ul>
  for respectively
  <ul>
      <li>SFR</li>
      <li>Orange</li>
      <li>Orange and Teamnet</li>
      <li>Orange Business Services</li>
      <li>Darty, Les Mousquetaires and SFR</li>
      <li>Bolloré Transport and elm.leblanc</li>
  </ul>
  <p>
      Since my C# and JS web training at Doranco Ecole supérieure des technologies créatives from March 2018 to June 2018,
      I improved my skills as a dotnet developer for Bolloré Transport & Logistics and elm.leblanc Bosch.
  </p> 
  <h3 class="text-center">My strengths are to be:</h3>
  <ul>
      <li><strong>organized</strong></li>
      <li><strong>thorough</strong> in the unit test development</li>
      <li>a <strong>persistent</strong> .net developer</li>
  </ul>
  <h3 class="text-center">My objective</h3>
  <p>
      I keep up improving my 
      <ol>
        <li><strong>front end</strong></li>
        <li><strong>dev ops</strong></li>
      </ol>
      skills for the sake of end-user ergonomy. 
      I focus on Application Programming Interfaces and unit test security as soon in the agile development cycle as possible.
      My strength is also to be <strong>pragmatic</strong>: I improve my skills as a <strong>data analyst</strong>. 
      I don't give up improving my fundamental mathematical skills within 5 years as next deadline.
  </p>
</div>
<div class="text-left">
  <h3><strong>C#</strong> developer</h3>
  <h4>elm.leblanc</h4>
  <h4><i>January 2020 until February 2023</i></h4>
  <h4>Drancy</h4>
  <p>
      The Manufacturing Analytics Solution (MAS1.0) was an application that gathered production line <strong>data</strong> from 14 ThermoTechnology plants databases into a single <strong>SQL Server database</strong> to report on production quality.
  </p>
  I chronologically:
  <ul>
      <li>maintained the</li>
      <ul>
        <li>.Net data loading application</li>
        <ol>
            <li>added MSTest <strong>unit tests</strong> to the app</li>
            <li>added product description informations to MAS1.0 product ids as first step before connecting to SAP</li>
            <li>added a SQL Server 2016 DB to the deployment environment</li>
            <li>upgraded the .Net 4.6.1 and 4.7.2 app to <strong>.net 5</strong>,</li>
        </ol>
        <li>traceability API</li>
        <li>Tableau dashboards</li>
        <li>Continuous Improvement Projects website with minor visual rectification</li>
      </ul>
      <li>added <strong>Grafana</strong> dashboards querying the MAS 2.0 <strong>GraphQL API</strong></li>
      <li>updated <strong>PowerBI</strong> dashboards</li>
  </ul>
  <p>
      <strong>Technical environment</strong>: <strong>C#, dotnet 5, T-SQL, HTML</strong>, CSS, JS, <strong>GraphQL</strong>, 
      Power Query M, SQL Server 2016, PowerBI, <strong>Grafana, Jira, VisualStudioCode</strong>, tortoiseSVN
  </p>
</div>
<div class="text-left">
    <h3><strong>C#</strong> developer</h3>
    <h4>Expaceo</h4>
    <h4><i>April 2019 until August 2019</i></h4>
    <h4>Saint-Cloud</h4>
    <p>
        ProofOfConcept: a customer of Expaceo had an additional need to redevelop an e-mail attachments extraction and backup for analysis app. 
    </p>
    I : 
    <ul>
        <li>developed from scratch the app</li>
        <li>logged in files and MongoDB</li>
        <li>weighed the need for this app of</li>
        <ul>
            <li>NUnit or xUnit tests</li>
            <li>Entity Framework core</li>
        </ul>
    </ul>
    <p>
        <strong>Technical environment</strong>: <strong>C#, dotnet core 3.1</strong>, Azure DevOps Boards and Repos, Gmail and Outlook API's,
        VisualStudioCode
    </p>
</div>
<div class="text-left">
    <h3><strong>ASP.Net MVC</strong> developer</h3>
    <h4>Bolloré Transport & Logistics</h4>
    <h4><i>October 2018 until April 2019</i></h4>
    <h4>Puteaux</h4>
    <p>
        The Decision Management Platform is a web application used to choose the best transport freight.
    </p>
    I : 
    <ul>
        <li>updated unit tests and improved their coverage</li>
        <li>solved bugs</li>
        <li>added an information on the air benchmark page</li>
    </ul>
    <p>
    <strong>Technical environment</strong>: <strong>C#, ASP.Net MVC5, .Net 4.6.1 and 4.7.2, T-SQL, HTML, CSS, JS</strong>
    , SQL Server 2016, <strong>Azure DevOps Boards, Repos and pull requests</strong> VisualStudio 2017
  </p>
</div>
<div class="text-left">
    <h3>trainee <strong>ASP.Net MVC</strong> developer</h3>
    <h4>Expaceo</h4>
    <h4><i>June 2018 until August 2018</i></h4>
    <h4>Meudon</h4>
    <p>
        Clerks Manager is an Expaceo Web HR application for timesheets, vacations and news.
    </p>
    I : 
    <ul>
        <li>migrated the Clerks web news page to Vue.js</li>
        <li>added a Clerks web per employee vacations display page</li>
        <li>corrected bugs and redeployed in beta version the Xamarin Clerks mobile app on the Google Play Store</li>
    </ul>
    <section>
        <strong>Technical environment</strong>: 
        <p>Clerks web</p>
        <p>
            <strong>C#, ASP.Net MVC5, .Net 4.6.1 and 4.7.2, T-SQL, HTML, CSS, VueJS 2.5</strong>, 
            Vuex 3, Bootstrap 2, WebPack 4.16, git 2.18, VisualStudio et Code
        </p>
        <p>Clerks mobile</p>
        <p>
            Xamarin 4.7, Xamarin Forms 3, Android SDK 8
        </p>
    </section>
</div>
<div class="text-left">
    <h3><strong>BI</strong> tester</h3>
    <h4>SFR</h4>
    <h4><i>November 2011 until February 2012</i></h4>
    <h4>Suresnes</h4>
    <p>
        Etape 4 is a project of SFR's professional customer's data migration.
    </p>
    I tested the Capgemini internal Flood data management migration report tool.
    <p>
    <strong>Technical environment</strong>: HP Quality Center, Informatica Power Center 8, sh
    </p>
</div>
<div class="text-left">
    <h3><strong>PL/SQL BI</strong> developer</h3>
    <h4>Darty</h4>
    <h4><i>January 2011 until September 2011</i></h4>
    <h4>Bagnolet</h4>
    <p>
        The outsourced website maintenance includes data extractions for the sales department.
    </p>
    I:
    <ul>
        <li>analysed and eventually corrected bugs</li>
        <li>proposed a performance optimisation</li>
        <li>technically specified, developed, tested, deployed and maintained a new product data extraction</li>
    </ul>
    <p>
    <strong>Technical environment</strong>: <strong>Oracle 10g PL/SQL</strong>, Toad, SVN, sh
    </p>
</div>
<div class="text-left">
    <h3><strong>BI</strong> tester</h3>
    <h4>SFR</h4>
    <h4><i>October 2007 until January 2008</i></h4>
    <h4>La Défense</h4>
    <p>
        Outsourced customers datawarehouse. 
        I continued the insertion scripts testing and participated to a factory acceptance test.
    </p>
</div>
<div class="text-left">
    <h3>trainee <strong>BI</strong> tester</h3>
    <h4>SFR</h4>
    <h4><i>June 2007 until September 2007</i></h4>
    <h4>La Défense</h4>
    <p>
        Outsourced customers datawarehouse. I:
    </p>
    <ol>
        <li>tested BTEQ insertion scripts</li>
        <li>proposed scripts corrections</li>
    </ol>
    <p>
    <strong>Technical environment</strong>: Teradata BTEQ, Datastage, Business Objects, ksh
    </p>
</div>
<div class="text-left">
  <h3 class="text-center">Training and Education</h3>
  <div>
      <h4>web development with C# and JavaScript training</h4>
      <h5>Doranco Ecole supérieure des technologies créatives</h5>
      <h5><i>March 2018 until June 2018</i></h5>
      <h5>Paris - Bagnolet</h5>
  </div>
  <div>
      <h4>SIAD(Systèmes d'Information et d'Aide à la Décision) master's degree</h4>
      <h5>Université des sciences et technologies</h5>
       <h5><i>2006 - 2007</i></h5>
      <h5>Lille</h5>
  </div>
</div>
<div class="text-left">
  <h3>Personal details</h3>
  <h4>Eric Faraut</h4>
  <h5>eric.faraut@hotmail.fr</h5>
  <h5>06 75 71 84 34</h5>
</div>
<div class="text-right">
    <p>
        In my spare time I do computer science, krav maga, viet vo dao and chess.
    </p>
</div>
