@{
    ViewData["Title"] = "Summarized CV";
}
<div class="text-center">
  <h1 class="display-1">C# back end developer</h1>
</div>
<div class="text-left">
  <h3>Personal details</h3>
  <h4>Eric Faraut</h4>
  <h5>06 75 71 84 34</h5>
  <h5>eric.faraut@hotmail.fr</h5>
</div>
<div class="text-left">
  <h3>Career objective</h3>
  <h4>Since my 2007 SIAD BI master's degree at the Lille university</h4>
  I've done: 
  <ul>
      <li>BI tests</li>
      <li>IT support</li>
      <li>tests</li>
      <li>contact center support</li>
      <li>PL/SQL development</li>
      <li><strong>C#</strong> development with and without JS front</li>
  </ul>
  for 
  <ul>
      <li>SFR</li>
      <li>Orange</li>
      <li>Orange and Teamnet</li>
      <li>Orange Business Services</li>
      <li>Darty, Les Mousquetaires and SFR</li>
      <li>Bolloré Transport and elm.leblanc</li>
  </ul>
  <p>
      Since my C# and JS web training at Doranco Ecole supérieure des technologies créatives end
      2018/08/10 I improved my skills as a dotnet developer.
  </p> 
  <h4>My strengths are to be:</h4>
  <ul>
      <li><strong>organized</strong></li>
      <li><strong>thorough</strong> in the unit test development</li>
      <li>a <strong>keen</strong> C# developer with knowledge of JS</li>
  </ul>
  <h4>My current objective is to:</h4>
  <ol>
      <li>improve my <strong>DevOps</strong> and <strong>data</strong> skills</li>
      <li>become a <strong>Cloud Data Engineer</strong></li>
  </ol>
</div>
<div class="text-left">
  <h3>Last work experience</h3>
  <h4><strong>C#</strong> developer</h4>
  <h5>elm.leblanc</h5>
  <h5>Drancy</h5>
  <h5><i>2020-01 - now</i></h5>
  <p>
      The Manufacturing Analytics Solution (MAS1.0) is an application that gathers production line <strong>data</strong> from 14 ThermoTechnology plants databases into a single <strong>SQL Server database</strong> in order to do production quality tests traceability (final test, gas and water leakage, electrical tests, ...).
  </p>
  <p>
      The main indicators are produced parts count and FirstPassYield ratio (proportion of products that passed the line's final test at first attempt).
      It was built as a .net framework 4.6.1 C# console production application making quality data from 14 Oracle databases available in a SQL Server database.
      The MAS2.0 ramp up continuation and MAS1.0 ramp down is planned at the end of the year.
  </p>
  I :
  <ul>
      <li>maintained Tableau dashboards, created <strong>PowerBI</strong> and <strong>Grafana</strong> dashboards querying the MAS2.0 GraphQL API</li>
      <li>added product description informations to MAS1.0 as first step before connecting to SAP</li>
      <li>one shot unit tested, maintained the production .net framework 4.6.1 C# application and <strong>upgraded</strong> it to dotnet 5 in 2021</li>
      <li>added a development <strong>database</strong> to the production working environments</li>
  </ul>
</div>
<div class="text-left">
    <h3>second-to-last work experience</h3>
    <h4><strong>MVC app C# and JS</strong> developer</h4>
    <h5>Bolloré Transport et Logistique</h5>
    <h5><i>2018-10 - 2019-04</i></h5>
    <p>
        The Decision Management Platform is a web application used to choose the best transport freight.
    </p>
    <p>
        It was built using an SQL Server database, KnockoutJS and the 4.6.1 .net framework.
    </p>
    I : 
    <ul>
        <li>improved unit tests coverage</li>
        <li>solved bugs</li>
        <li>added an information on the air benchmark page</li>
    </ul>
</div>
<div>
  <p>For more work experiences and supplementary informations see my <a href="https://linkedin.com/in/ericfaraut/">LinkedIn profile.</a></p>
</div>
<div class="text-left">
  <h3>Training and Education</h3>
  <div>
      <h4>web development with C# and JavaScript training</h4>
      <h5>Doranco Ecole supérieure des technologies créatives</h5>
      <h5>Paris - Bagnolet</h5>
      <h5><i>2018/03-2018/08</i></h5>
      Clerks Manager is an Expaceo Web application for timesheets, vacations, news.

      I :
      <ul>
          <li>migrated the news page to Vue.js</li>
          <li>developed a per employee vacations display page</li>
          <li>redeployed in beta version the Xamarin Clerks mobile app on the Google Play Store</li>
      </ul>
  </div>
  <div>
      <h4>SIAD(Systèmes d'Information et d'Aide à la Décision) master's degree</h4>
      <h5>Université des sciences et technologies</h5>
      <h5>Lille 1</h5>
      <h5><i>2006 - 2007</i></h5>
  </div>
  <div>
    <p>
        For more education information refer to the above mentioned LinkedIn profile.
    </p>
  </div>
</div>
